.settings{
    text-align: left;
    width: 100%;
}
.container-settings{
    width: 80%;
    margin-right: auto;
}
.user-info{
    display: flex;
    padding: 20px 0;
    align-items: center;
}
.org-link {
    margin-left: 10px;
}
.h6-title{
    font-size: 18px;
}
.user-info-title{
    padding-left: 20px;
    word-break: break-all;
}
.user-info-title p{
    width: 300px;
}
.img-avatar{
    width: 80px;
    height: 80px;
}

.h1-title{
    font-size: 20px;
}
.basic-title{
    font-size: 14px;
    color: #212121;
}